@charset "utf-8";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wrapper {
    width: 8.5in;
    margin: 0 auto;
    padding: .75in .5in .5in;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.label {
    font-weight: bold;
}

@media print {
    .region {
        display: none;
    }

    .element-invisible {
        display: none;
    }

    .no-print {
        display: none;
    }
}
