@charset "utf-8";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wrapper {
    width: 8.5in;
    margin: 0 auto;
    padding: .75in .5in .5in;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.element-invisible {
    display: none;
}

.title.inline {
    display: inline-block;
    margin-right: 1em;
}

.title.inline + * {
    display: inline-block;
}

@media print {
    .region {
        display: none;
    }

    .no-print {
        display: none;
    }

    .page-separator {
        display: none;
        page-break-before: right;
    }
}
